LOGGING_LEVEL=debug
DOCKER_MODE=false

POSTGRES_ADMIN_EMAIL=test@test.com
POSTGRES_ADMIN_PASSWORD=test1234
POSTGRES_SERVER=localhost
POSTGRES_USER=test
POSTGRES_PASSWORD=test123
POSTGRES_DB=dev

PROJECT_NAME=Hack Template
DOMAIN=localhost

SECRET_KEY=sfhagskjhfkjqwhrkhdskajfhaksdjhfaskjnvjkanjknjkfnasjkfnasdkjfn
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

SERVICE_MAIL_USER=test@test.com
SERVICE_MAIL_PASSWORD=3TRtoPT3y*ap
SERVICE_MAIL_HOST=smtp.mail.ru
SERVICE_MAIL_PORT=587

LE_EMAIL=test@test.com
CF_API_EMAIL=SHSHS
CF_API_KEY=SHSHS