<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Подтверждение аккаунта</title>
    </head>
    <body>
        <p>Здравствуйте {{ user_name }},</p>
        <p>Вы зарегистрировались на платформе larek.itatmisis.ru.</p>
        <p>Ваш логин от TeamFlare: {{ email }}</p>
        <p>Ваш одноразовый пароль: {{ password }}</p>
        <p>
            Пожалуйста, введите его в соответствующее поле .
            <a href="https://auth.teamflame.ru/signin">на странице входа</a>
        </p>
        <p>
            Если вы не регистрировались, пожалуйста, проигнорируйте это
            сообщение.
        </p>
        <p>С уважением,<br />Команда поддержки</p>
    </body>
</html>
